* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

body {
	color: #fff;
	font-family: 'Roboto',sans-serif;
	background: url("../img/header/main-bg.jpg") #0A090A;
	background-repeat: no-repeat;	
	background-position: top center;
	background-size: contain;
}

.header {
	margin-bottom: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.logo {
		font-size: 24px;
		font-weight: 900;
		text-decoration: none;
		color: #fff;
}

.search{
	display: flex;
	align-items: center;
	flex: 0.8;
}

.search-input{
	flex: 1;
	background: rgba(196, 196, 196, 0.5);
	border-radius: 5px;
	height: 40px;
	padding: 12px 18px;
	border: none;
	color: #aeaeae;
	font-size: 14px;
	line-height: 16px;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #aeaeae;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #aeaeae;
}

::placeholder {
	color: #aeaeae;
}

.search-button{
	background-color: transparent;
	border: none;
	padding: 10px 18px;
}

.user {
	display: flex;
	align-items: center;
}

.avatar {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.title {
	margin: 0;
	font-family: 'Playfair Display',serif;
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 7px;
}

.title-en{
	display: inline-block;
	font-size: 20px;
	color: #787878;
	line-height: 23px;
	margin-bottom: 38px;
}

.info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 108px;
}

.movie-info {
	display: flex;
	align-items: center;
}

.tag {
	display: inline-block;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
	background-color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	margin-right: 20px;
}

.country {
	font-size: 16px;
	line-height: 19px;
	margin-right: 33px;
}

.play{
	display: flex;
	align-items: center;
	font-size: 16px;
	color:#fff;
	text-decoration: none;
}
.play::before {
	content: '';
	width: 30px;
	height: 30px;
	background: url('../img/header/play.svg') #fff;
	border-radius:50%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 15px;
}

.more{
	display: flex;
	align-items: center;
	font-size: 16px;
	color:#fff;
	text-decoration: none;
}

.more::after{
		content: '';
		width: 30px;
		height: 30px;
		background: url('../img/header/play.svg') #fff;
		border-radius:50%;
		background-repeat: no-repeat;
		background-size: 100%;
		margin-left: 15px;
		transform: rotate(90deg);
}

.content {
	display: flex;
	justify-content: space-between;
	background-color: #fff;	
	border-radius: 3px;
	color: #000000;
	padding: 43px 50px;
}
.poster {
	display: block;
	margin-top: -80px;
	margin-bottom: 20px;
}
.button{
	background-color: #ff8f27;
	padding: 10px 41px;
	color:#fff;
	font-size: 15px;
	border: none;
	margin-bottom: 30px;
}

.actors-title{
	font-weight: 900;
	font-size: 16px;
	line-height: 150%;
	padding-left: 15px;
	margin-bottom: 10px;
}
.actors-list {
	margin: 0;
	list-style: none;
	padding-left: 15px;
	text-decoration: underline;
	line-height: 150%;
}

.full-info{
	flex: 0.97;
}

.tabs-item{
	color: black;
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
}
.tabs-item:hover {
	color: #ff8f27;
}

.tabs-item:not(:last-child){
	margin-right: 40px;
}

.full-content{
	display: flex;
	justify-content: space-between;
}

.tabs-content{
	margin-right: 70px;
}

.tabs {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.text{
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 140%;
}
.text-title{
	margin-top: 33px;
	margin-bottom: 22px;
}

.subscribe-title {
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 14px;
	line-height: 150%;
	margin-top: 0;
}

.subscribe-form{
	display: flex;
}

.subscribe-input{
	background: rgba(196, 196, 196, 0.5);
	border-radius: 5px 0 0 5px;
	height: 40px;
	padding: 12px 18px;
	border: none;
	color: #aeaeae;
	font-size: 14px;
	line-height: 16px;
}

.subscribe-button {
	background: #FF8F27;
	border-radius: 0px 5px 5px 0px;
	border: none;
	padding: 11px;
	margin-bottom: 48px;
}